<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>App Review Report | Start</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="description" content="App Review Report Landing Page" />
		<link rel="stylesheet" href="static/index.css" />
		<noscript><link rel="stylesheet" href="static/noscript.css" /></noscript>
	</head>
	<body class="is-loading">
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<div id="columns01" class="container">
						<div class="inner">
							<h1 id="text02">App Review Report</h1>
							<p id="text01">Enter Your Links</p>
						</div>
					</div>
					<hr id="divider02">
					<p id="text03"><span><strong>Example</strong></span><br /><span>Name: Mint</span><br /><span>App Store Link: <a href="https://itunes.apple.com/us/app/mint-personal-finance-money/id300238550?mt=8">https://itunes.apple.com/us/app/mint-personal-finance-money/id300238550?mt=8</a></span><br /><span>Play Store Link: <a href="https://play.google.com/store/apps/details?id=com.mint&amp;hl=en_US">https://play.google.com/store/apps/details?id=com.mint&amp;hl=en_US</a></span></p>
					<hr id="divider01">
					<form enctype="multipart/form-data" id="form01" method="get" action="./report">
						<div class="inner">
							<div class="field">
								<input type="text" name="app-name" id="form01-app-name" placeholder="App Name" maxlength="128" required />
							</div>
							<div class="field">
								<input type="text" name="app-store-link" id="form01-app-store-link" placeholder="App Store Link" maxlength="128" required />
							</div>
							<div class="field">
								<input type="text" name="play-store-link" id="form01-play-store-link" placeholder="Play Store Link" maxlength="128" required />
							</div>
							<div class="actions">
								<button type="submit">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="static/main.js"></script>
	</body>
</html>
